@model IEnumerable<VideoStore.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>Sorry, we do not have any customers</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Name</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@Html.ActionLink(c.Name, "Details", "Customers", new {id = c.Id}, null)</td>
                    <td>@c.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
